@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

img {
	width: 400px;
	height: 200px;
	object-fit: cover;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: Roboto, sans-serif;

}

.header {
	display: flex;
	justify-content: space-around;
	background-color: #1f2937;
	color: white;
	padding-top: 10px;
	padding-bottom: 65px;
}

.headerleft {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.headerright {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.logo {
	margin-bottom: 100px;
	
}

.large-text {
	margin-bottom: 5px;
	font-size: 45px;
	font-weight: bold;

}

.smaller-text {
	Display: flex;
	max-width: 450px;
	line-height: 120%;
	margin-bottom: 16px;
}

button {
	flex: 1, 1, 0;
	width: 100px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background: rgb(1, 106, 243);
	border: 2px solid rgb(44, 44, 44);

}

button:hover {
	background-color:rgba(0, 102, 0, 0.925);
	color: black;
}

.links {
	display: flex;
	gap: 16px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

.targets {
	text-align: center;
	margin: 20px;
	font-size: 35px;
	font-weight:bold;
}

.container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
	margin-top: 20px;

}

.smalltext {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;

}

.smallpic {
	max-width: 200px;
	border-radius: 5px;
	border-color: rgb(26, 81, 184);
	border-width: 2px;
}
